
body p{
  font-family:arial;
  font-size:20px;
}
// nav div starts here
nav{
  border-bottom:5px solid #076ad4;
  background-color:#202324;
}
nav ul li a{
  color: #5e6a70;
  font-size:18px;

}
// nav div ends here
// slider div starts here

.slider {
  height: auto;
 padding-bottom:100px;
  background-color: red;
background-image: url(../img/slider.jpg);
background-repeat:no-repeat;
-webkit-background-size:cover;
background-position: center center;
background-size:cover;
background-position: center center;
}

.slider .col-md-8 .d-flex i{
  padding:10px;
  background-color: #fff;
  border-radius:2px;
  margin-top:6px;

}
.slider .col-md-8 h1{
 font-family:bold;
 color: #fff;
 margin-top:120px;
}
.slider .col-md-8 .d-flex{
  margin-top:40px;
}
.slider .col-md-8 .d-flex p{
  margin-left:18px;
  color: #fff;
  font-size:20px;
  font-family:regular;
  font-weight:normal;

}
.slider .col-md-4 .card{
  margin-top:120px;
}
// slider section ends here
// explore section starts here
.explore{
  background-color: #333;
  color: #fff;
  padding:50px;
}
.explore h2{
  font-family:bold;
}

// explore section ends here
// learn section starts here
.learn .image img{
  width:100%;
  height:auto;

}
.learn  .d-flex i{
  padding:10px;
  background-color: #3b3434;
  border-radius:2px;
  margin-top:6px;
  color: #fff;

}
.learn  h1{
 font-family:bold;
 color: #000;
 margin-top:230px;
}
.learn  .d-flex{
  margin-top:40px;
}
.learn  .d-flex p{
  margin-left:18px;
  color: #000;
  font-size:20px;


}
// learn section ends here
// create section starts here
.create{
  background-color: #007bff;
  color: #fff;
  padding:50px;
}
.create h2{
  font-family:bold;
}

// create section endss here
// passion section starts here
.passion{
  background-color: #333;
}
.passion p{
  color: #fff;
}
.passion .image img{
  width:100%;
  height:auto;

}
.passion  .d-flex i{
  padding:10px;
  background-color: #fff;
  border-radius:2px;
  margin-top:6px;
  color: #007bff;

}
.passion  h1{
 font-family:bold;
 color: #fff;
 margin-top:230px;
}
.passion  .d-flex{
  margin-top:40px;
}
.passion  .d-flex p{
  margin-left:18px;
  color: #fff;
  font-size:20px;


}
// passion section ends here
// share section starts here
.share{
  background-color: #007bff;
  color: #fff;
  padding:50px;
}
.share h2{
  font-family:bold;
}
// share section ends here
// s-create section starts here
.s-create .image img{
  width:100%;
  height:auto;

}
.s-create  .d-flex i{
  padding:10px;
  background-color: #3b3434;
  border-radius:2px;
  margin-top:6px;
  color: #fff;

}
.s-create  h1{
 font-family:bold;
 color: #000;
 margin-top:230px;
}
.s-create  .d-flex{
  margin-top:40px;
}
.s-create  .d-flex p{
  margin-left:18px;
  color: #000;
  font-size:20px;


}
// s-create section ends here
// footer section starts here
footer{
  background-color:#333;
  color: #fff;
  padding:20px 0px;
}
footer p{
  font-size:15px;
}
footer a{
width:20%;
margin: auto;

}
// footer section ends here
